<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>TaLhA<span>ZuBaIr</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login">Signin</a></li>
         <li><a href="/register">Register</a></li>
         <li><a href="/secret">Secret</a></li>
         <li>
           <a href="/logout" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
         </li>
      </ul>
    </div>
  </div>
</nav>